.nav {
  z-index: 5;
  svg {
    z-index: 3;
  }
}
.toggle-nav {
  position: fixed;
  right: 2vw;
  top: 2vh;
  font-size: 30px;
  color: $color-secondary;
  align-self: end;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: rgba(15, 49, 147, 0.95);
  z-index: 4;
  transform: translate(300px, 0);
  transition: all 0.5s ease;

  .menu-container {
    color: white;
    opacity: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    .menu-top {
      display: flex;
      flex-direction: column;
      .lang {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-between;

        div ul li {
          padding: 0 0.5rem;
          img {
            width: 5vh;
          }
          #disable-lang {
            filter: grayscale(100%);
          }
        }
      }

      .nav-menu {
        display: inline;
        font-size: 1.5rem;
        font-family: $font-primary;
        font-weight: lighter;
        padding: 15px 0;
        letter-spacing: 0.2rem;
        li {
          height: 3rem;
        }
      }
    }

    ul {
      display: flex;
      text-decoration: none;
      list-style: none;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  .bun {
    position: fixed;
    top: 2vh;
    font-size: 30px;
  }

  .menu-bottom {
    display: flex;
    flex-direction: column;

    p {
      padding: 0.5rem 0;
    }

    img {
      width: 150px;
    }

    h2 {
      letter-spacing: 0.1rem;
    }
  }
}

.collapse {
  transform: translate(0, 0);
}

#nav-reserve {
  background-color: none;
  font-size: 1.5rem;
  border: none;
  color: white;
  cursor: pointer;
}
